<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/icon.png">
        <script src="/js/app.js"></script>
        <title>About</title>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This side was created by Jey. It uses data from mapbox.com and darksky.net</p>
            <img class="potrait" src="/img/img1.gif">
        </div>

        
        {{>footer}}
    </body>
</html>